useDynLib(FLasher)
import(FLCore)
import(ggplotFL)
import(FLFishery)
importFrom(Rcpp,
  "evalCpp")
importFrom(stats,
  "runif",
  "reshape")
importFrom(utils,
  "data")
importFrom(methods,
  "as",
  "new",
  "callNextMethod",
  "is",
  "slot",
  "slot<-")
importFrom(graphics,
  "lines",
  "points",
  "rect",
  "text")
importFrom(ggplot2,
  "geom_vline",
  "annotate")
importFrom(stats,
  "mad")
exportClasses(
	"fwdControl")
export(
  "add_target_order",
  "G",
  "get_FLQuant_element",
  "get_FLQuant_elements",
  "make_test_operatingModel",
  "match_posns_names",
  "random_FLBiolcpp_generator",
  "random_FLQuant_generator",
  "random_FLQuant_list_generator",
  "random_FLCatch_generator",
  "random_FLCatches_generator",
  "random_FLFishery_generator",
  "random_FLFisheries_generator",
  "random_fwdBiols_list_generator",
  "random_fwdControl_generator"
)
exportMethods(
  "[",
  "[<-",
  "draw",
  "FCB",
  "FCB<-",
  "fwd",
  "fwdControl",
  "iters",
  "iters<-",
  "plot",
  "propagate",
  "show",
  "stf",
  "summary",
  "target",
  "target<-"
)
