useDynLib(FLasher)
importFrom(Rcpp,
  evalCpp)
importFrom(stats,
  runif)
importFrom(utils,
  data)
importFrom(methods,
  as)
import(FLCore)
import(FLFishery)
exportClasses(
	"fwdControl")
exportMethods(
    "[",
    "[<-",
    "fwdControl",
    "propagate",
    "show",
    "target",
    "target<-",
    "iters",
    "iters<-",
    "draw"
	)
exportPattern("^[[:alpha:]]+")
