useDynLib(FLasher)
importFrom(Rcpp,
  evalCpp)
importFrom(stats,
  runif)
importFrom(utils,
  data)
importFrom("methods",
    "as", "new", "callNextMethod", "is", "slot", "slot<-")
importFrom("graphics",
    "lines", "points", "rect", "text")
importFrom("stats",
    "mad")
import(FLCore)
import(FLFishery)
exportClasses(
	"fwdControl")
export("G",
    "random_FLBiolcpp_generator",
    "random_FLQuant_generator",
    "random_FLQuant_list_generator",
    "random_FLCatch_generator",
    "random_FLCatches_generator",
    "random_FLFishery_generator",
    "random_FLFisheries_generator",
    "random_fwdBiols_list_generator",
    "random_fwdControl_generator",
    "make_test_operatingModel",
    "get_FLQuant_element",
    "get_FLQuant_elements"
)
exportMethods(
    "[",
    "[<-",
    "fwd",
    "fwdControl",
    "propagate",
    "show",
    "target",
    "target<-",
    "iters",
    "iters<-",
    "draw",
    "stf"
	)
